<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Dela+Gothic One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Commissioner&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class=e9_2>
    <div class="e9_3"></div><span class="e9_4">Ставки</span><a href="" div class="e9_5">telegram_nick</a>
    <div class=e9_6>
      <div class=e9_7>
        <div class="e9_8"></div>
      </div>
    </div>
    
    <a href="" class=e9_11><span class="e9_12">Подтвердить</span></a>
    
  <span class="e9_14">Англия. Премьер-Лига</span>
    

    <div class=e9_32>
      <div class=e9_33><span class="e9_34">Арсенал</span></div>
      <div class=e9_35>
        <div class=e9_36>
          <div class="e9_37"></div>
        </div>
      </div>
      <div class=e9_38><span class="e9_39">Саутгемптон</span></div>
    </div>
    <div class=e9_40>
      
       
        
      <input class="e9_41" type="text2" id="name2" name="name2" required minlength="1" color=white maxlength="2"></input>
      <div class=e9_43>
        <div class=e9_44>
          <div class="e9_45"></div>
        </div>
      </div>
       <input class="e9_46" type="text2" id="name2" name="name2" required minlength="1" color=white maxlength="2"></input></div>
    </div>
    <div class="e9_48"></div><a href="" div class="e9_49">Назад</a>
    <div class=e9_50>
      <div class=e9_51>
        <div class="e9_52"></div>
      </div>
    </div>
    <div class=e9_53>
      <div class=e9_54>
        <div class="e9_55"></div>
      </div>
    </div>
    <div class=e9_56>
      <div class=e9_57>
        <div class="e9_58"></div>
      </div>
      <div class=e9_59>
        <div class=e9_60>
          <div class="e9_61"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>