.9_2 { 
	overflow:hidden;
}
.e9_2 { 
	background-color:rgba(5.312500633299351, 6.906252913177013, 21.25000063329935, 1);
	width:1440px;
	height:980px;
	position:absolute;
}
.e9_3 { 
	background-color:rgba(24.402081593871117, 28.39088335633278, 56.31249949336052, 1);
	width:1440px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_4 { 
	color:rgba(255, 53.124994933605194, 53.124994933605194, 1);
	width:177px;
	height:58px;
	position:absolute;
	left:135px;
	top:12px;
	font-family:Dela Gothic One;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e9_5 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:17px;
	position:absolute;
	left:1200px;
	top:37px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_6 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1170px;
	top:36px;
}
.e9_7 { 
	width:13.333333015441895px;
	height:15px;
	position:absolute;
	left:3.3333334922790527px;
	top:2.500000476837158px;
}
.9_8 { 
	border:2px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e9_8 { 
	width:13.333333015441895px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_9 { 
	background-color:rgba(255, 53.124994933605194, 53.124994933605194, 1);
	width:215px;
	height:37px;
	position:absolute;
	left:925px;
	top:27px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e9_10 { 
	color:rgba(255, 255, 255, 1);
	width:175px;
	height:17px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_11 { 
	background-color:rgba(255, 53.124994933605194, 53.124994933605194, 1);
	width:141px;
	height:37px;
	position:absolute;
	left:150px;
	top:240px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e9_12 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:17px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_13 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
	opacity:0.15000000596046448;
	width:225px;
	height:176px;
	position:absolute;
	left:135px;
	top:238px;
}
.e9_14 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:24px;
	position:absolute;
	left:135px;
	top:115px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e9_15 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:17px;
	position:absolute;
	left:195px;
	top:254px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_16 { 
	color:rgba(255, 255, 255, 1);
	width:11px;
	height:17px;
	position:absolute;
	left:150px;
	top:254px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_17 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:17px;
	position:absolute;
	left:287px;
	top:254px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_18 { 
	transform: rotate(90.00000250447808deg);
	width:156px;
	height:0px;
	position:absolute;
	left:267px;
	top:248px;
}
.9_18 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e9_19 { 
	transform: rotate(180deg);
	width:72px;
	height:0px;
	position:absolute;
	left:257px;
	top:283px;
}
.9_19 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e9_20 { 
	transform: rotate(180deg);
	width:20px;
	height:0px;
	position:absolute;
	left:165px;
	top:283px;
}
.9_20 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e9_21 { 
	transform: rotate(180deg);
	width:62px;
	height:0px;
	position:absolute;
	left:339px;
	top:283px;
}
.9_21 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e9_22 { 
	transform: rotate(90.00000250447808deg);
	width:156px;
	height:0px;
	position:absolute;
	left:175px;
	top:248px;
}
.9_22 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e9_23 { 
	width:20px;
	height:20px;
	position:absolute;
	left:145px;
	top:297px;
}
.e9_24 { 
	width:20px;
	height:20px;
	position:absolute;
	left:145px;
	top:334px;
}
.e9_25 { 
	width:20px;
	height:20px;
	position:absolute;
	left:145px;
	top:371px;
}
.e9_26 { 
	color:rgba(255, 255, 255, 1);
	width:20px;
	height:17px;
	position:absolute;
	left:211px;
	top:298px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_27 { 
	color:rgba(255, 255, 255, 1);
	width:19px;
	height:17px;
	position:absolute;
	left:212px;
	top:335px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_28 { 
	color:rgba(255, 255, 255, 1);
	width:19px;
	height:17px;
	position:absolute;
	left:212px;
	top:372px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_29 { 
	color:rgba(255, 255, 255, 1);
	width:6px;
	height:17px;
	position:absolute;
	left:152px;
	top:298px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_30 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:151px;
	top:335px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_31 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:151px;
	top:372px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_32 { 
	width:181px;
	height:27px;
	position:absolute;
	left:135px;
	top:159px;
}
.e9_33 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 0.15000000596046448);
	width:66px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e9_34 { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:17px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_35 { 
	width:20px;
	height:20px;
	position:absolute;
	left:66px;
	top:3.5px;
}
.e9_36 { 
	width:6.666666507720947px;
	height:6.666666507720947px;
	position:absolute;
	left:6.666667461395264px;
	top:6.666667461395264px;
}
.9_37 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e9_37 { 
	width:6.666666507720947px;
	height:6.666666507720947px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_38 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 0.15000000596046448);
	width:95px;
	height:27px;
	position:absolute;
	left:86px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e9_39 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:17px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_40 { 
	width:56px;
	height:27px;
	position:absolute;
	left:183px;
	top:191px;
}
.e9_41 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 0.15000000596046448);
	width:18px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e9_42 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_43 { 
	width:20px;
	height:20px;
	position:absolute;
	left:18px;
	top:3.5px;
}
.e9_44 { 
	width:6.666666507720947px;
	height:6.666666507720947px;
	position:absolute;
	left:6.666667461395264px;
	top:6.666667461395264px;
}
.9_45 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e9_45 { 
	width:6.666666507720947px;
	height:6.666666507720947px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_46 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 0.15000000596046448);
	width:18px;
	height:27px;
	position:absolute;
	left:38px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e9_47 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_48 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:39px;
	height:0px;
	position:absolute;
	left:400px;
	top:135px;
}
.9_48 { 
	border:1px solid rgba(255, 53.124994933605194, 53.124994933605194, 1);
}
.e9_49 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:17px;
	position:absolute;
	left:399px;
	top:118px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e9_50 { 
	width:20px;
	height:20px;
	position:absolute;
	left:304px;
	top:296px;
}
.e9_51 { 
	width:13.333333015441895px;
	height:13.333333015441895px;
	position:absolute;
	left:3.3333334922790527px;
	top:3.3333334922790527px;
}
.9_52 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e9_52 { 
	width:13.333333015441895px;
	height:13.333333015441895px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_53 { 
	width:20px;
	height:20px;
	position:absolute;
	left:304px;
	top:370px;
}
.e9_54 { 
	width:13.333333015441895px;
	height:13.333333015441895px;
	position:absolute;
	left:3.3333334922790527px;
	top:3.3333334922790527px;
}
.9_55 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e9_55 { 
	width:13.333333015441895px;
	height:13.333333015441895px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_56 { 
	width:20px;
	height:20px;
	position:absolute;
	left:304px;
	top:333px;
}
.e9_57 { 
	width:13.333333015441895px;
	height:13.333333015441895px;
	position:absolute;
	left:3.3333334922790527px;
	top:3.3333334922790527px;
}
.9_58 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e9_58 { 
	width:13.333333015441895px;
	height:13.333333015441895px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_59 { 
	width:10px;
	height:10px;
	position:absolute;
	left:5px;
	top:5px;
}
.e9_60 { 
	width:5.302916526794434px;
	height:3.5355327129364014px;
	position:absolute;
	left:2.5px;
	top:3.2322165966033936px;
}
.9_61 { 
	border:1px solid rgba(255, 53.124994933605194, 53.124994933605194, 1);
}
.e9_61 { 
	width:5.302916526794434px;
	height:3.5355327129364014px;
	position:absolute;
	left:0px;
	top:0px;
}

input {
    color: #FFFFFF;
}
