<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Dela+Gothic One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Commissioner&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class=e8_158>
    <div class="e8_159"></div><span class="e8_160">Ставки</span><a href="" div class="e8_161">telegram_nick</a>
    <div class=e8_162>
      <div class=e8_163>
        <div class="e8_164"></div>
      </div>
    </div>
    <span class="e8_166">Англия. Премьер-Лига</span>
      <div class=e1_40>

      <table border="1">

        <caption>
          <div class="e1_180">Ставки</div>
        </caption>
        <tr>

          <th>
            <div class="e1_190">#</div>
          </th>
          <th>
            <div class="e1_200">Ставка</div>
          </th>
          <th>
            <div class="e1_210">Очки</div>
          </th>
        
        </tr>
        <tr>
          <td>
            <div class="e1_289">1</div>
          </td>
          <td>
            <div class="e1_290">3:2</div>
          </td>
          <td>
            <div class="e1_291">10</div>
          </td>
         
        </tr>
        </tr>
      </table>
    </div>
    <div class=e8_187>
      <div class=e8_188><span class="e8_189">Арсенал</span></div>
      <div class=e8_190>
        <div class=e8_191>
          <div class="e8_192"></div>
        </div>
      </div>
      <div class=e8_193><span class="e8_194">Саутгемптон</span></div>
    </div>
    <div class=e8_195>
      <div class=e8_196><span class="e8_197">3</span></div>
      <div class=e8_198>
        <div class=e8_199>
          <div class="e8_200"></div>
        </div>
      </div>
      <div class=e8_201><span class="e8_202">2</span></div>
    </div>
    
    <div class="e8_203"></div><a href="" div class="e8_204">Назад</a><span class="e8_205"><img src="/Users/nakap/Downloads/project/game_after/Vector.png" alt="" height=15 width=15></img>  На этот матч больше нельзя ставить
      ставки</span>
    <div class=e8_206>
      <div class=e8_207>
        <div class="e8_208"></div>
      </div>
    </div>
  </div>
</body>

</html>