.8_158 { 
	overflow:hidden;
}
.e8_158 { 
	background-color:rgba(5.312500633299351, 6.906252913177013, 21.25000063329935, 1);
	width:1440px;
	height:980px;
	position:absolute;
}
.e8_159 { 
	background-color:rgba(24.402081593871117, 28.39088335633278, 56.31249949336052, 1);
	width:1440px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_160 { 
	color:rgba(255, 53.124994933605194, 53.124994933605194, 1);
	width:177px;
	height:58px;
	position:absolute;
	left:135px;
	top:12px;
	font-family:Dela Gothic One;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e8_161 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:17px;
	position:absolute;
	left:1200px;
	top:37px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_162 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1170px;
	top:36px;
}
.e8_163 { 
	width:13.333333015441895px;
	height:15px;
	position:absolute;
	left:3.3333334922790527px;
	top:2.500000476837158px;
}
.8_164 { 
	border:2px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e8_164 { 
	width:13.333333015441895px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_165 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
	opacity:0.15000000596046448;
	width:214px;
	height:176px;
	position:absolute;
	left:135px;
	top:272px;
}
.e8_166 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:24px;
	position:absolute;
	left:135px;
	top:149px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_167 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:17px;
	position:absolute;
	left:195px;
	top:288px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_168 { 
	color:rgba(255, 255, 255, 1);
	width:11px;
	height:17px;
	position:absolute;
	left:150px;
	top:288px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_169 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:17px;
	position:absolute;
	left:287px;
	top:288px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_170 { 
	transform: rotate(90.00000250447808deg);
	width:156px;
	height:0px;
	position:absolute;
	left:267px;
	top:282px;
}
.8_170 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e8_171 { 
	transform: rotate(180deg);
	width:72px;
	height:0px;
	position:absolute;
	left:257px;
	top:317px;
}
.8_171 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e8_172 { 
	transform: rotate(180deg);
	width:20px;
	height:0px;
	position:absolute;
	left:165px;
	top:317px;
}
.8_172 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e8_173 { 
	transform: rotate(180deg);
	width:62px;
	height:0px;
	position:absolute;
	left:339px;
	top:317px;
}
.8_173 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e8_174 { 
	transform: rotate(90.00000250447808deg);
	width:156px;
	height:0px;
	position:absolute;
	left:175px;
	top:282px;
}
.8_174 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e8_175 { 
	width:20px;
	height:20px;
	position:absolute;
	left:145px;
	top:331px;
}
.e8_176 { 
	width:20px;
	height:20px;
	position:absolute;
	left:145px;
	top:368px;
}
.e8_177 { 
	width:20px;
	height:20px;
	position:absolute;
	left:145px;
	top:405px;
}
.e8_178 { 
	color:rgba(255, 255, 255, 1);
	width:20px;
	height:17px;
	position:absolute;
	left:211px;
	top:332px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_179 { 
	color:rgba(255, 255, 255, 1);
	width:19px;
	height:17px;
	position:absolute;
	left:212px;
	top:369px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_180 { 
	color:rgba(255, 255, 255, 1);
	width:19px;
	height:17px;
	position:absolute;
	left:212px;
	top:406px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_181 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:304px;
	top:332px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_182 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:17px;
	position:absolute;
	left:295px;
	top:369px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_183 { 
	color:rgba(255, 255, 255, 1);
	width:29px;
	height:17px;
	position:absolute;
	left:293px;
	top:406px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_184 { 
	color:rgba(255, 255, 255, 1);
	width:6px;
	height:17px;
	position:absolute;
	left:152px;
	top:332px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_185 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:151px;
	top:369px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_186 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:151px;
	top:406px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_187 { 
	width:181px;
	height:27px;
	position:absolute;
	left:135px;
	top:193px;
}
.e8_188 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 0.15000000596046448);
	width:66px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_189 { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:17px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_190 { 
	width:20px;
	height:20px;
	position:absolute;
	left:66px;
	top:3.5px;
}
.e8_191 { 
	width:6.666666507720947px;
	height:6.666666507720947px;
	position:absolute;
	left:6.666667461395264px;
	top:6.666667461395264px;
}
.8_192 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e8_192 { 
	width:6.666666507720947px;
	height:6.666666507720947px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_193 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 0.15000000596046448);
	width:95px;
	height:27px;
	position:absolute;
	left:86px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_194 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:17px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_195 { 
	width:56px;
	height:27px;
	position:absolute;
	left:183px;
	top:225px;
}
.e8_196 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 0.15000000596046448);
	width:18px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_197 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_198 { 
	width:20px;
	height:20px;
	position:absolute;
	left:18px;
	top:3.5px;
}
.e8_199 { 
	width:6.666666507720947px;
	height:6.666666507720947px;
	position:absolute;
	left:6.666667461395264px;
	top:6.666667461395264px;
}
.8_200 { 
	border:1px solid rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}
.e8_200 { 
	width:6.666666507720947px;
	height:6.666666507720947px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_201 { 
	background-color:rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 0.15000000596046448);
	width:18px;
	height:27px;
	position:absolute;
	left:38px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_202 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:17px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_203 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:39px;
	height:0px;
	position:absolute;
	left:459px;
	top:132px;
}
.8_203 { 
	border:1px solid rgba(255, 53.124994933605194, 53.124994933605194, 1);
}
.e8_204 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:17px;
	position:absolute;
	left:458px;
	top:115px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_205 { 
	color:rgba(255, 255, 255, 1);
	width:303px;
	height:17px;
	position:absolute;
	left:135px;
	top:115px;
	font-family:Commissioner;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e8_206 { 
	width:20px;
	height:20px;
	position:absolute;
	left:135px;
	top:114px;
}
.e8_207 { 
	width:15px;
	height:15px;
	position:absolute;
	left:2.500000476837158px;
	top:2.500000476837158px;
}
.8_208 { 
	border:1px solid rgba(255, 53.124994933605194, 53.124994933605194, 1);
}
.e8_208 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_209 { 
	background-color:rgba(255, 53.124994933605194, 53.124994933605194, 1);
	width:215px;
	height:37px;
	position:absolute;
	left:925px;
	top:27px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_210 { 
	color:rgba(255, 255, 255, 1);
	width:175px;
	height:17px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}


.e1_180 {
	color: rgba(255, 255, 255, 1);
	width: 159px;
	height: 24px;
	font-family: Montserrat;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;

}

.e1_40 {
	color: rgba(255, 255, 255, 0.5);
	width: 1000px;
	height: 17px;
	position: absolute;
	left: 140px;
	top: 265px;
	font-family: Commissioner;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e500 {
	background-color: rgba(203.68124574422836, 207.3023146390915, 226.31249696016312, 1);
}

.e1_190 {
	color: rgba(255, 255, 255, 1);

	font-family: Montserrat;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e1_200 {
	color: rgba(255, 255, 255, 1);

	font-family: Montserrat;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e1_210 {
	color: rgba(255, 255, 255, 1);

	font-family: Montserrat;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e1_220 {
	color: rgba(255, 255, 255, 1);

	font-family: Montserrat;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e1_400 {
	background-color: rgba(5.312500633299351, 6.906252913177013, 21.25000063329935, 1);
}





table caption {
	opacity: 0.9;
	padding: 3px;
	background-color: rgba(204, 207, 226, 1);
}

.e1_289 {
	color: rgba(255, 255, 255, 1);

	font-family: Montserrat;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e1_290 {
	color: rgba(255, 255, 255, 1);

	font-family: Montserrat;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e1_291 {
	color: rgba(255, 255, 255, 1);

	font-family: Montserrat;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e1_292 {
	color: rgba(255, 255, 255, 1);

	font-family: Montserrat;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}
